body{
    margin: 0;
    font-family: lato ,sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bg.jpg);
    text-align: center;
}
.container{
    width: auto;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.3);
}
.img{
    background-image: url(funny\ Luffy.gif);
    background-position: center;
    width: 800px;
    height: 450px;
    border-radius: 10px;
}

.quote{
    font-weight: 700;
    font-size: 2.75rem;
}
.long-quote{
    font-size: 2rem;
}

#author{
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}
.button-container{
    display: flex;
    justify-content: space-between;
}
.button{
    font-size: 1.5rem;
    padding: 0.3rem 1.8rem;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    box-shadow: 0 0.3rem rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.button:hover{
    transform: scale(1.1);
}
.button:active{
    transform: translate(0,0.3rem);
    box-shadow: 0 0.08rem rgba(0, 0, 0, 0.2); ;
}
.b1:hover{
    color: #1DA1F2;
}
.fa-quote-left{
    font-size: 4rem;
}


@media  screen and (max-width: 1000px) {
    .container{
        margin: auto 10px
    }
    #quote{
        font-size: 1.5rem;
    }
    .button{
        font-size:1.2rem ;
    }

    .fa-quote-left{
        font-size: 4rem;
    }  
    .img{
        margin: auto 10px
    }
}